#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

nav {
	display: flex;
	justify-content: center;
	align-items: center;
  }

  .inactive-link {
	text-decoration: none;
	color: #4d7bde;
	padding: 10px;
	font-weight: 600;
  }

  .active-link {
	color: red;
	text-decoration: none;
  }

  .App {
	animation: pulsate 1.5s infinite alternate;
	border: 0.2rem solid #fff;
	border-radius: 2rem;
	padding: 50px;
	box-shadow: 0 0 .2rem #fff,
			  0 0 .2rem #fff,
			  0 0 2rem #bc13fe,
			  0 0 0.8rem #bc13fe,
			  0 0 2.8rem #bc13fe,
			  inset 0 0 1.3rem #bc13fe;
  }
